.calculator {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.header h2 {
  font-size: 20px;
  margin: 0;
}

.display {
  text-align: right;
  margin-bottom: 20px;
}

.display input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}

.result {
  font-size: 24px;
  margin-top: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease;
}

/* Styles for the GUANLAO button */
.button-row:last-child {
  grid-template-columns: 1fr;
}

.button-row:last-child button {
  grid-column: span 4;
  background-color: #f00;
}

.buttons button:hover {
  background-color: #555;
}

.button-row:nth-child(4) button:first-child,
.button-row:nth-child(4) button:last-child {
  grid-column: span 2;
  background-color: #f00;
}

.button-row:nth-child(4) button:last-child {
  background-color: #333;
}
